{% extends "base.html" %}

{% load static %}


{% block style %}
{% endblock %}


{% block content %}
<div class="container">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <h1>Login</h1>

        <div class="form-group">
            <label for="username">아 이 디</label>
            <input type="text" name="username" id="username" placeholder="아 이 디">
        </div>

        <div class="form-group">
            <label for="password">비 밀 번 호</label>
            <input type="password" name="password" id="password" placeholder="비 밀 번 호">
        </div>

        <button type="submit" class="btn btn-primary">로 그 인</button>
    </form>
</div>
{% endblock %}